import { React } from 'react';
<%_ map(content, ({ name }) => { _%>
import <%= properCase(name) %> from './<%= name %>';
<%_ }); _%>

const <%= properCase(name) %> = () =>
	<div role="<%= properCase(name) %>">
		<%_ map(content, ({ name }) => { _%>
		{ <%= properCase(name) %>() }
		<%_ }); _%>
	</div>;

export default <%= properCase(name) %>;
