import { React } from 'react';
<%_ map(content, ({ name }) => { _%>
import { <%= name %> } from './<%= name %>';
<%_ }); _%>

const <%= name %> = () =>
	<div>
		<%_ map(content, ({ name }) => { _%>
		{ <%= name %>() }
		<%_ }); _%>
	</div>;

export default <%= name %>;
