import { React } from 'react';
<%_ if(children.type === 'component'){ _%>
<%_ map(children.content, ({ name }) => { _%>
import <%= properCase(name) %> from './<%= name %>';
<%_ }); _%>
<%_ } _%>

const <%= properCase(name) %> = () =>
	<%_ if(children.type === 'text'){ _%>
	<<%= type %>{ ...{ <% map(props, (value, name) => { %><%= name %>: '<%= value %>' <% }); %>} }><%= children.content %></<%= type %>>;
	<%_ } else { _%>
	<%_ if(keys(children.content).length === 1){ _%>
	<<%= type %> { ...{ <% map(props, (value, name) => { %><%= name %>: '<%= value %>' <% }); %>} }>
	<%_ map(children.content, ({ name }) => { _%>
		<<%= properCase(name) %>/>
	<%_ }); _%>
	</<%= type %>>;
	<%_ } else { _%>
	<div { ...{ <% map(props, (value, name) => { %><%= name %>: '<%= value %>' <% }); %>} }>
	<%_ map(children.content, ({ name }) => { _%>
		<<%= properCase(name) %>/>
	<%_ }); _%>
	</div>;
	<%_ } _%>
	<%_ } _%>

export default <%= properCase(name) %>;
